<footer id="contacto">
    <div class="arriba">
        <div class="logo-footer">
            <img class="img-logo-footer" src="../assets/massfitness_nobackground.png" loading="lazy">
        </div>
        <a href="#">
            <span>Volver arriba</span>
            <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 10l5.5 5.5L18 10" fill="none" stroke="currentColor"></path>
            </svg>
        </a>
    </div>
    <div class="footer-content">
        <div class="footer-links">
            <ul>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Política de cookies</a></li>
                <li><a href="#">Aviso legal</a></li>
                <li><a href="#">Condiciones de uso</a></li>
            </ul>
        </div>
        <div class="social-media">
            <ul>
                <li><a href=""><img class="social-img" src="../assets/facebook.png" alt="Facebook" loading="lazy"></a></li>
                <li><a href=""><img class="social-img" src="../assets/twitter.png" alt="Twitter" loading="lazy"></a></li>
                <li><a href="https://www.instagram.com/_massfitness_"><img class="social-img" src="../assets/instagram.png" alt="Instagram" loading="lazy"></a></li>
            </ul>
        </div>
    </div>
    <div class="tag">
        <p>© 2025. MassFitness. Proyecto realizado por Rafael Galván Calvo</p>
    </div>
</footer>
