<div class="scroll-container">
    <canvas #scrollCanvas loading="lazy"></canvas>
</div>

<div class="content">
    <div class="parallax-container1">
        <div class="parallax-text1">
            <h2>Elige tu Aventura</h2>
            <p>Selecciona si deseas reservar una clase emocionante o un espacio para tu entrenamiento personalizado.</p>

            <div class="botones-reserva">
                <button (click)="navegarAReservaClases()" class="button-reservar">
                    Reservar Clase
                </button>
                <button (click)="navegarAReservaSalas()" class="button-reservar">
                    Reservar Espacio
                </button>
            </div>
        </div>
    </div>
    <!-- Puedes añadir más secciones parallax o contenido aquí -->
</div>