<app-auth></app-auth>

<main>

    <app-admin-dashboard></app-admin-dashboard>

    <section class="intro" id="intro">
        <p>Bienvenido a la web de MassFitness, tu gimnasio favorito. Explora nuestros últimos ofertas y servicios.</p>
        <form action="#">
            <label for="email">Suscríbete a nuestro boletín</label>
            <input type="email" id="email" name="email" placeholder="Tu correo electrónico">
            <button type="submit">Suscribirse</button>
        </form>
    </section>

    <!-- <div class="container">
        <div class="carrusel-container">
            <div class="carrusel-texto">
                <div class="texto-wrapper">
                    <div class="texto-slide">Lujo y tecnología en armonía</div>
                    <div class="texto-slide">Innovación sin límites</div>
                    <div class="texto-slide">Rendimiento sin compromisos</div>
                    <div class="texto-slide">Elegancia en cada detalle</div>
                    <div class="texto-slide">Lujo y tecnología en armonía</div>
                </div>
            </div>
    
            <div class="carrusel-imagenes">
                <div class="imagen-slide">
                    <img src="../assets/audi-rs6.jpg" alt="Audi RS6" loading="lazy">
                </div>
                <div class="imagen-slide">
                    <img src="../assets/audi-rs7-interior.avif" alt="Audi RS7 Interior" loading="lazy">
                </div>
                <div class="imagen-slide">
                    <img src="../assets/audi-a3-2.png" alt="Audi A3" loading="lazy">
                </div>
                <div class="imagen-slide">
                    <img src="../assets/audi-a1.png" alt="Audi A1" loading="lazy">
                </div>
                <div class="imagen-slide">
                    <img src="../assets/audi-rs6.jpg" alt="Audi RS6" loading="lazy">
                </div>
            </div>
        </div>
    </div> -->

    <div class="parallax-container">
        <div class="parallax-text">
            <h2>Reserva Clases</h2>
            <p>Aqui podras hacer tu reserva a tus clases favoritas: Boxeo, Yoga, ...</p>
            <p>Haz tu reserva ya!</p>
            <button type="submit" class="button-reservar">Reservar</button>
        </div>
        <div class="parallax-text">
            <h2>Reserva Espacios</h2>
            <p>Aqui podras hacer tu reserva para nuestras Salas</p>
            <p>Haz tu reserva ya!</p>
            <button type="submit" class="button-reservar">Reservar</button>
        </div>
    </div>

    <!-- <div class="tecnologia1">
        <div class="img-tecnologia1"></div>
        <article class="article-tecnologia1">
            <h2>Tecnología del Futuro: Quattro</h2>
            <p>
                El sistema de tracción total de Audi revolucionó la forma de conducir, ofreciendo mejor agarre y estabilidad.
            </p>
        </article>
    </div>

    <div class="tecnologia2">
        <article class="article-tecnologia2">
            <h2>Interiores de Audi: Lujo y Tecnología</h2>
            <p><strong>Materiales premium:</strong>  Uso de cuero, Alcantara, aluminio y madera genuina en sus acabados.</p>
            <br>
            <p><strong>Head-up Display:</strong>  Proyección de información en el parabrisas para minimizar distracciones.</p>
            <br>
            <p><strong>Sistema MMI (Multi Media Interface):</strong> Una interfaz intuitiva con controles táctiles, respuesta háptica y reconocimiento de voz.</p>
        
        </article>
        <div class="img-tecnologia2"></div>
    </div> -->

    <section class="tecnologia">
        <div class="tecnologia22">
            <div class="tecnologia-text">
                <h2>Tecnología del Futuro</h2>
                <p>
                    Audi lidera el mercado con su tecnología de conducción autónoma y sistemas avanzados de asistencia al conductor. 
                    Descubre cómo la inteligencia artificial y los sensores de última generación están redefiniendo la experiencia al volante.
                </p>
            </div>
        </div>
        <div class="tecnologia-text">
            <h2>Tecnología del Futuro: Matrix LED y Digital OLED</h2>
            <p>
                Sistemas de iluminación avanzados que mejoran la seguridad y la experiencia de conducción.
            </p>
        </div>
    </section>

    <section class="curiosidades">
        <article class="curiosidades-text">
            <h2>Origen del Logo</h2>
            <p>
                El emblema de los cuatro aros simboliza la unión de las cuatro marcas fundadoras de Auto Union. Cada anillo representa a una de estas empresas: <strong>Audi, DKW, Horch y Wanderer</strong>.
            </p>
        </article>
        <div class="img-curiosidades">
            <img src="../assets/logo-audi-coche.png" alt="Audi Tecnología" loading="lazy">
        </div>
    </section>
    
</main>

<app-footer></app-footer>

<!-- <footer id="contacto">
    <div class="arriba">
        <div class="logo-footer">
            <img class="img-logo-footer" src="../assets/massfitness_nobackground.png" loading="lazy">
        </div>
        <a href="#">
            <span>Volver arriba</span>
            <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 10l5.5 5.5L18 10" fill="none" stroke="currentColor"></path>
            </svg>
        </a>
    </div>
    <div class="footer-content">
        <div class="footer-links">
            <ul>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Política de cookies</a></li>
                <li><a href="#">Aviso legal</a></li>
                <li><a href="#">Condiciones de uso</a></li>
            </ul>
        </div>
        <div class="social-media">
            <ul>
                <li><a href=""><img class="social-img" src="../assets/facebook.png" alt="Facebook" loading="lazy"></a></li>
                <li><a href=""><img class="social-img" src="../assets/twitter.png" alt="Twitter" loading="lazy"></a></li>
                <li><a href="https://www.instagram.com/_massfitness_"><img class="social-img" src="../assets/instagram.png" alt="Instagram" loading="lazy"></a></li>
            </ul>
        </div>
    </div>
    <div class="tag">
        <p>© 2025. MassFitness. Proyecto realizado por Rafael Galván Calvo</p>
    </div>
</footer> -->
