<div class="parallax-container">
    <div class="parallax-container2">
        <div class="parallax-text">
            <h2>Reserva Clases</h2>
            <p>Aqui podras hacer tu reserva a tus clases favoritas: Boxeo, Yoga, ...</p>
            <p>Haz tu reserva ya!</p>
            <button type="submit" class="button-reservar">Reservar</button>
        </div>
    </div>
    <div class="parallax-container2">
        <div class="parallax-text">
            <h2>Reserva Espacios</h2>
            <p>Aqui podras hacer tu reserva para nuestras Salas</p>
            <p>Haz tu reserva ya!</p>
            <button type="submit" class="button-reservar">Reservar</button>
        </div>
    </div>
</div>